-# - if issue.vote_count.positive?
-#   .progress.w-100.mb-1
-#     - value = issue.vote_result(:agree)
-#     .progress-bar.bg-success{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
-#       Agreed
-#     - value = issue.vote_result(:sympathise)
-#     .progress-bar.bg-info{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
-#       Sympathised
-#     - value = issue.vote_result(:disagree)
-#     .progress-bar.bg-danger{ role: "progressbar", aria: { valuenow: value, valuemin: 0, valuemax: 100 }, style: "width: #{value}%;" }
-#       Disagreed
