- if vote.nil?
  - create_vote_url = branch_meeting_issue_votes_path(issue.branch, issue.meeting, issue)
  .d-flex.justify-content-between.mb-4
    = button_to "I agree", create_vote_url,
      params: { vote: { status: "agree" } }, class: "btn btn-success btn-sm mr-1"
    = button_to "I sympathise", create_vote_url,
      params: { vote: { status: "sympathise" } }, class: "btn btn-info btn-sm mr-1"
    = button_to "I disagree", create_vote_url,
      params: { vote: { status: "disagree" } }, class: "btn btn-danger btn-sm mr-1"
- else
  = button_to "Recast my vote", [@branch, @meeting, issue, vote], method: :delete, class: "btn btn-secondary btn-sm" if vote
